footer a {
    color: rgb(200, 200, 200);
    padding: 0 5px;
}

footer i {
    padding-right: 5px;
}

footer a:link{
    color: rgb(200, 200, 200);
}

footer a:hover{
    color: rgb(255, 255, 255);
}

footer a:visited {
    color: rgb(235, 235, 235);
}

.blog a {
    font-size: 25px;
}

.blog p {
    color: rgb(61, 61, 61);
}

.blog small {
    font-size: 15px;
    font-weight: 600;
    color: rgb(99, 99, 99);
}