<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <title>{{ page.title }}</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="/favicon.ico" width="22" height="22" alt="" class="d-inline-block" style="margin-right: 10px;">Jonathan Ouellet</a>
        <!-- <ul class="navbar-nav"> -->
            <!-- <li class="nav-item {% if page.title == 'jouellet | blog' %} active {% endif %}"> -->
                <!-- <a class="nav-link" href="/blog">Blog</a> -->
            <!-- </li> -->
        <!-- </ul> -->
    </nav>
    
    {% if page.toctree %}
        <nav class="toctree">
            <a href="#" class="toctree-title">On this page</a>
            <ul class="toctree-list">
                {% for toc in page.toctree %}
                    <li><a href="#{{toc.link}}">{{toc.name}}</a></li>
                {% endfor %}
            </ul>
        </nav >
    {% endif %}

    <section class="main-container">
        {{ content }}
    </section>

    <div class="clear"></div>
    <footer class="bg-dark">
        <a href="https://www.linkedin.com/in/jonathan-ouellet-9962466b/" style="margin-right: 20px;"><i class="fab fa-linkedin"></i>Jonathan Ouellet </a>
        <a href="https://github.com/JonasOuellet"><i class="fab fa-github"></i>JonasOuellet</a>
        <a href="mailto:ouelletjonathan@hotmail.com"><i class="fas fa-envelope"></i>ouelletjonathan@hotmail.com</a>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>
